.radio-container {
    position: relative;
    display: inline-block;
    border: none;
    margin: 0 1.6em;
    padding: 0; 
    width: 236px;
    height: 2.4em; 
    font-size: 14px;
    letter-spacing: 0.4em;
 }
.radio-container:hover {
    z-index: 999999; 
}

.radio-options {
  position: absolute;
  max-height: 4em;
  width: 100%;
  overflow: hidden;
  border: 1px solid #be4e48;
  color: #666;
 
}
.radio-options:hover {
  max-height: 20em;
  overflow-x: hidden;
  /*overflow-y: auto;*/
  transition: 0.5s;
}
.radio-options:hover .toggle:after {
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);     /* IE 9 */
    -moz-transform:rotate(-90deg);    /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
    -o-transform:rotate(-90deg);  /* Opera */
    transition: 0.3s;
}
.radio-options .toggle {
    position: relative;
    cursor: pointer;
    height: 1.8em;
    padding-top: 0.6em;
    padding-left: 0.4em;
    /*line-height: 2em;*/
    /*border: 1px solid #ccc;*/
    z-index: 1; 
    background: #fff;
    /*background: #fff url(right_arrow.png) no-repeat 200px center;*/
  }
.radio-options .toggle:after {
    content: url(http://omcbb8o2a.bkt.clouddn.com/image/baidu-ife/XiaoweiSchool/task7/right_arrow.png);
    width: 17px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: 200px;
  }
.radio-options ul {
  padding: 0;
  margin: 0;
  background-color: #eee;
  color: #666;
}
.radio-options li {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em;
    width: 100%;
    height: 2em;
    /*list-style: none;*/
  }
.radio-options label {
   position: absolute;
   top: 0;
   left: 0;
   /*padding: calc(0.3em - 1px);*/
   /*padding: 0.2em;*/
   width: 100%;
   height: 2.4em;
   /*height: 100%;*/
   line-height: 2.4em;
}
.radio-options label span {
    display: inline-block;
    float: left;
    width: 2em;
    height: 2em;
    margin: 0.2em;
}
  /* li elements have a normal flow within the .radio-options container */
.radio-options:hover li {
    position: relative;
    /*padding: 0.2em;*/
    /*margin-left: 2em;*/
    
}
.radio-options:hover label {
    /*position: relative;*/
    /*left: 2em;*/
    opacity: 1;
    cursor: pointer;
    /*margin-left: 2em;*/
}
.radio-options input {
    position: absolute;
    top: 0;
    left: 0;
     /*width: 100%;*/
    opacity: 0;
    z-index:1;
}
.radio-options li:hover {
     background-color: #be4e48;
     color: #fff;
  }

.radio-options input:checked ~ label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
/* is above the .toggle so is visible */
    z-index: 2;
/* has tha same styles as .toggle */
    /*padding: 0.3em;*/
    background-color: #be4e48;
    color: #fff;
}
.radio-options input:checked ~ label span {
    background-image: url(http://omcbb8o2a.bkt.clouddn.com/image/baidu-ife/XiaoweiSchool/task7/left_arrow.png);
}

/* 设置滚动条整体的样式 */
.radio-options::-webkit-scrollbar {
    width: 6px;
}
/* 滚动槽轨道 */
.radio-options::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
}
/* 滚动条滑块 */
.radio-options::-webkit-scrollbar-thumb:vertical {
    /*border-radius: 10px;*/
    background-color: #ccc;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
.radio-options::-webkit-scrollbar-thumb:hover {
  background-color:#be4e48;
}
/*滚动条的轨道的两端按钮*/
.radio-options::-webkit-scrollbar-button {
}
/*::-webkit-scrollbar-thumb:active {
  background-color:#00aff0;
}*/