body {
    margin: 0;
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body div {
    width: 150px;
}
div:nth-child(1) {
    height: 120px;
    background-color: #f00;
}
div:nth-child(2) {
    height: 100px;
    background-color: #f00;
}
div:nth-child(3) {
    height: 40px;
    background-color: #f00;
}
div:nth-child(4) {
    height: 200px;
    background-color: #0f0;
}
@media all and (max-width: 640px) {
    body {
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    div:nth-child(4) {
        order: -1;
    }
}